<div class="container">
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Designed</strong> by
        <a class="credit" href="https://github.com/K-Kaustubh"
          >Kumar Kaustubh</a
        >
      </p>
    </div>

    <div class="content has-text-centered">
      <p>
        <strong>&copy; Copyright</strong>
      </p>
    </div>
  </footer>
</div>
